* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: rgb(37, 37, 97);
}

 :root {
    --bg-color: rgb(134, 134, 134);
}

header.page-header {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

header .links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

.links:link {
    text-decoration: none;
}

.links:visited {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.links:active {
    text-decoration: underline;
}

body .page-cover {
    background: url(https://images.wallpapersden.com/image/download/5k-minimalist-diamond-shape-pattern_bGxoa2mUmZqaraWkpJRqZmdlrWdtbWU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 600px;
    width: 100%;
}

body {
    background-color: var(--bg-color);
}