* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

 :root {
    --bg-color: rgb(134, 134, 134);
    --img-border: #202020;
}

header {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background: var(--img-border);
    color: #fff;
}

header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display: inline;
}

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    display: inline;
}

nav li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 20px;
}

nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.page-cover {
    background: url(https://images.wallpapersden.com/image/download/5k-minimalist-diamond-shape-pattern_bGxoa2mUmZqaraWkpJRqZmdlrWdtbWU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 500px;
    width: 100%;
}

img {
    object-fit: cover;
    height: 400px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.image-border {
    border: 10px solid var(--img-border);
    border-radius: 10px;
}

.image-hover {
    opacity: 0.75;
}

.image-hover:hover {
    opacity: 1;
}

.row {
    display: flex
}

.column {
    float: left;
    width: 50%;
    padding: 7px;
    flex: 33.33%;
}

body {
    background-color: var(--bg-color);
}

@media screen and (max-width: 992px) {
    .column {}
}

@media screen and (max-width: 768px) {
    .column {}
}

@media screen and (max-width: 992px) {
    .column {}
}